<div>

  <div class="alert alert-success" role="alert" ng-show="dashboard.success">{{ dashboard.success }}</div>
  <div class="alert alert-danger" role="alert" ng-show="dashboard.error">{{ dashboard.error }}</div>

  <form class="form-inline add-row-form" name="form" role="form" ng-submit="dashboard.add(form)" novalidate>
    <div class="form-group">
      <label class="sr-only" for="year">Year</label>
      <input type="number" min="{{ dashboard.row.year }}" class="form-control" id="year" name="year" ng-model="dashboard.row.year"
             placeholder="Year" required>
    </div>

    <div class="form-group">
      <label class="sr-only" for="population">Year</label>
      <input type="number" min="0" class="form-control" id="population" name="population"
             ng-model="dashboard.row.population" placeholder="Population" required>
    </div>

    <button type="submit" class="btn btn-default">Add New Row</button>
  </form>

  <graph-table data="dashboard.graph"></graph-table>

  <graph-linear data="dashboard.graph"></graph-linear>

</div>